@model Green.Health.Models.CommonModel
<div class="green-header-wrap-1240">
    <div class="green-header-logo">
        <a href="#" class="health-green-logo-img"></a>
    </div>
    <div class="green-head-log">
        <ul class="green-log">
            @if (Model.Customer == null)
            {
                <li class="log-trigger" id="unlogin">
                    <a href="javascript:void();">
                        <img src="~/Assets/Img/person.png" />
                        <img src="~/Assets/Img/log-arrow.png" />
                    </a>
                    <div class="u-box" style="display: none;"></div>
                    <ul class="log-dropdown" style="display: none">
                        <li>
                            <button class="btn btn-success" id="btn_in">立即登录</button>
                        </li>
                        <li>
                            <a href="#">立即注册</a>
                        </li>
                        <li>
                            <a href="#">我的购物车</a>
                        </li>
                        <li>
                            <a href="#">我的订单</a>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li class="log-trigger" id="islogin" style="display:block">
                    <a href="javascript:void();">
                        <img src="~/Assets/Img/person.png" />
                        <img src="~/Assets/Img/log-arrow.png" />
                    </a>
                    <div class="u-box" style="display: none;"></div>
                    <ul class="log-dropdown">
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">我的购物车</a></li>
                        <li><a href="#">我的订单</a></li>
                        <li><button class="btn btn-success" id="btn_out">退出</button></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>
